@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<p>Car U Rater was created to help local non- for- profit groups or clubs, manage there  car show events. Saturday entry fee is $10.00 with awards and 100 special dash plaques. Sunday will be big and busy.  Registration opens at 9:00 am, awards at 3:00 pm.
<p>There will be a charity auction at 1:00 pm on Sunday with 100% of the money going to the American Cancer Society.
<p>Top 100 awards and several Specialty awards, Best Of Show. 400 special dash plaques.
<p>THIS IS A CAR/TRUCK SHOW…NO BIKES, NO FAMILY vehicles. THIS IS A JUDGED SHOW….RAIN OR SHINE.</p>

<div class="col-sm-4">
    <img src="~/Content/Assets/Bodyshop.jpg" width="500" height="300" />
</div>
<div class="col-sm-4">
    <img src="~/Content/Assets/4speed.jpg" width="500" height="300" />
</div>
<div class="col-sm-4">
    <img src="~/Content/Assets/Women.jpg" width="500" height="300" />
</div>