@{
    ViewBag.Title = "Home Page";
}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" >
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
    <body class="bg-image">
      
            <h1>Car-U-Rater</h1>
            <p> Car-U-Rater is a free Web App for local Car Shows.</p>
            </body>

</html>